{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "no-console": "off",
  }
}
